:root {
    --board1: rgba(242, 242, 242, 1);
    --board2: rgba(230, 230, 230, 1);
    --board1hover: #e6e6e6;
    --board2hover: #ccc;
    --fontcolor: black;
}

body {
    margin: 0;
    background-color: #fff;
    color: var(--fontcolor);
}

button {
    background: var(--board2);
    color: var(--fontcolor);
    border: 0;
}

button:hover {
    cursor: pointer;
}

input[type='text'], textarea {
    background: var(--board2);
    color: var(--fontcolor);
    border: 0;
    font-size: 150%;
    font-family: "Nunito Sans";
}

textarea:focus, input:focus {
    outline: 2px solid var(--fontcolor);
}

h1 {
    color: var(--fontcolor);
    font: 250 500% "Nunito";
    text-align: center;
    line-height: 30%;
}

h2 {
    font-family: "Nunito" !important;
    font-size: 200%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --board1: #111111;
        --board2: #222222;
        --fontcolor: white;
        --board1hover: #0d0d0d;
    }

    body {
        background: black;
    }
}